@font-face {
    font-family: "Open-Sans";
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    font-style: normal;
}